/* CSS for Greta Van Fleet*/

/* Generic/reusable styles for all pages */

body {
  background-color: #ffffff;
  margin: 0;
  font-size: 16px;
  font-family: "B612", sans-serif;
}

#container {
  width: 1000px;
  background-color: #ffffff;
  margin: 0 auto;
}

p {
  line-height: 2;
}

ul {
  margin: 0;
  padding: 0;
  text-align: right;
  padding-top: 17px;
}

li {
  padding-left: 40px;
  text-align: center;
  display: inline-block;
  list-style-type: none;
}

li a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

li a:hover {
  color: #999999;
  border-bottom: 5px solid #000000;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #999999;
}
.navthing {
  border-bottom: 5px solid #000000;
}
.dummy {
  clear: left;
}

.dummyEmpty {
  height: 100px;
}

#rowNav {
  height: 50px;
}

/* Columns */

.column-1 {
  width: 180px;
}

.column-2 {
  /* 360 + 25	*/
  width: 385px;
}

.column-3 {
  /* 540 + 50	*/
  width: 590px;
}

.column-4 {
  /* 720 + 75	*/
  width: 795px;
}

.column-5 {
  /* 900 + 100	*/
  width: 1000px;
}

.column-1,
.column-2,
.column-3,
.column-4,
.column-5 {
  float: left;
  display: block;
}

.column-1:not(:first-child),
.column-2:not(:first-child),
.column-3:not(:first-child),
.column-4:not(:first-child),
.column-5:not(:first-child) {
  margin-left: 25px;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  text-align: center;
}

.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.row {
  margin-top: 25px;
}

.row img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.socialMedia {
  text-align: center;
}

.socialMedia,
.footerText {
  padding-top: 10px;
}

.footer {
  margin-top: 70px;
}

/* Index Page */

#row1 {
  height: 361px;
}

#row2 {
  height: 500px;
}

.row2header {
  display: block;
  color: #000000;
  font-size: 45px;
  font-weight: bold;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 10px;
}

.row3header {
  display: block;
  text-align: center;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 25px;
  padding-top: 30px;
}

.row4header {
  display: block;
  text-align: center;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 30px;
}

.albumCover {
  border-radius: 5px 5px 0px 0px;
}

.band-name {
  height: 50px;
}

.ourstory {
  text-align: center;
  padding-bottom: 10px;
}

.readmore {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #000000;
  display: block;
  width: 100px;
  margin: auto;
}

.readmore:hover {
  background-color: #000000;
  color: white;
}

.day {
  font-size: 35px;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 20px;
}

.date {
  display: inline-block;
}

.date span {
  display: block;
}

.venue {
  font-weight: bold;
}
.tickets {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  display: block;
  margin-left: 10px;
}

.tickets:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}

/* ABOUT PAGE */

.bandmemberheader {
  color: #000000;
  letter-spacing: 5px;
  padding-top: 70px;
}
.bandmemberinstrument {
  font-weight: bold;
  font-size: 22px;
  margin: 0;
}

.bandmemberabout {
  color: #777777;
  margin: 0;
}

.line {
  height: 1px;
  background-color: #000000;
  width: 50px;
  margin-left: 0;
  margin-bottom: 50px;
}

.picture {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bannerImage {
  margin-bottom: 35px;
}
